@import '../../sassVars.scss';

.projects {
  // padding-top: 10vh;
  font-family: $mainFont;
  height: calc(100vh - 5rem);
  display: flex;
  color: rgb(252, 252, 252);
  background: $background-dark;
  background-attachment: fixed;
  .site-container {
    
    height: calc(100vh - 5rem);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5rem;
    transition: 0.3s;
    &:hover {
      background: rgb(86, 86, 86);
    }
    .title {
      font-size: 2.5rem;
      margin: 1rem; 
    }
    .carousel {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;
      .destination-buttons {
        height: 3rem;
        width: 3rem;
        border: 1px solid rgb(252, 252, 252);
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          background: rgb(252, 252, 252);
          color: $background-dark;
          cursor: pointer;
        }
      }
      .pic {
        height: 19rem;
        transition: 2s;
      }
    }
    .site-info {
      display: flex;
      margin: 0.5rem 0;
      .link {
        text-decoration: none;
        color: rgb(252, 252, 252);
        margin-left: 0.8rem; 
        transition: 0.3s;
        &:hover {
          color: rgb(218, 217, 217);
        }
      }
    }
    .github-info {
      display: flex;
      margin: 0.5rem 0;
      .link {
        text-decoration: none;
        color: rgb(252, 252, 252);
        margin-left: 0.8rem; 
        transition: 0.3s;
        &:hover {
          color: rgb(218, 217, 217);
        }
      }
    }
    .explanation {
      padding-left: 0.7rem;
      width: 45vw;
      height: 10rem;
      li {
        margin: 0.8rem 0;
      }
    }
  }
}

@media (max-width: 1060px) {
  .projects {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    .site-container {
      height: 76vh;   
      width: 50vw;
      padding: 0;
      margin: 0 0.1rem;
      .carousel {
        .pic {
          height: 15rem; 
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .projects .site-container {
    width: 90vw;
    border-right: 1px solid rgb(218, 217, 217);
    border-left: 1px solid rgb(218, 217, 217);
    .explanation {
      width: 80vw;  
    }
  }
}

@media (max-width: 495px) {
  .projects .site-container {
    .carousel {
      .destination-buttons {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 1.25rem;
        font-size: 0.7rem;
      }
      .pic {
        height: 12rem;
      }
    }
    .site-info {
      font-size: 0.8rem;
    }
    .github-info {
      font-size: 0.8rem;
    }
    .explanation {
      font-size: 0.8rem;
    }
  } 
}

@media (max-width: 405px) {
  .projects .site-container {
    .carousel {
      .destination-buttons {
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
        font-size: 0.6rem;
      }
      .pic {
        height: 9rem;
      }
    } 
    .site-info {
      font-size: 0.6rem;
      .link {
        margin: 0.1rem;
      }
    }
    .github-info {
      font-size: 0.6rem;
      .link {
        margin: 0.1rem;
      }
    }
    .explanation {
      font-size: 0.6rem;
    }
  }
}