@import '../../sassVars.scss';

.skills {
  font-family: $mainFont;
  height: calc(100vh - 5rem);
  background: url('./beach.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  h2  {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1rem; 
    // z-index: 50;
  }
  // background: fixed;
  .content-container {
    // height: auto;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4rem;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 6rem;
      transition: 0.6s;
      &:hover {
        transform: scaleX(1.1);
      }
      img {
        height: 100px; 
        margin-bottom: 0.2rem;
      }
      span {
        font-weight: 605;
      }
    }
  }
}

@media (max-width: 900px) {
  .skills .content-container > div {
    margin: 1.5rem 4rem;
  }
}

@media (max-width: 700px) {
  .skills .content-container > div {
    margin: 1.5rem 3rem;
    img {
      height: 90px;
    }
  }
}

@media (max-width: 575px) {
  .skills {
    h2 {
      font-size: 2.75rem;
    }
    .content-container > div {
      margin: 1.2rem 2rem;
      img {
        height: 80px;
      }
    }
  } 
}

