@import '../../sassVars.scss';

.home {
  padding-top: 10vh;
  font-family: $mainFont;
  height: calc(100vh - 5rem);
  background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
  display: flex;
  align-items: flex-start;

  .heading {
    width: 50%;
    height: 80%;
    text-align: center;
    padding-top: 10%;
    p {
      animation: showup 5s;
      // animation-delay: 0.5s;
      animation-iteration-count: 1;
      color: #3f87a6;
      margin: 1rem 0;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
      transition: color 1s, transform 1s;
      &:hover {
        transition: 1s;
        transform: scale(1.05);
        color: $light-color;
      }
    }
    p:first-of-type
  }
  img {
    height: 60%;
    opacity: 0.85;
    border-radius: 50%;
    transition: 0.4s;
    &:hover {
      opacity: 1;
    }
  }
}

@keyframes showup {
  // from {
  //   display: none;
  //   opacity: 0;
  //   color: white;
  // }

  // to {
  //   display: initial;
  //   opacity: 1;
  // }
  0% {opacity:0;}
  100% {opacity:1;}
}