@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Poppins:300');

$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Poppins', sans-serif;
$background-dark: rgb(71, 71, 71);
$background-light: #c9c9c9;
$light-color: rgb(252, 252, 252);