@import '../../sassVars.scss';

.nav {
  font-family: $mainFont;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $background-dark;
  color: rgb(252, 252, 252);
  > div {
    margin-right: 2rem;
    border: 1px solid rgb(252, 252, 252);
    height: 2.3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    transition: all 0.4s;
    &:hover {
      background: rgb(252, 252, 252);
      color: $background-dark;
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

@media (max-width: 650px) {
  .nav > div {
    margin-right: 1rem;
    width: 5rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 485px) {
  .nav > div {
    margin-right: 0.5rem;
    width: 4rem;
    font-size: 0.6rem;
  }
}

@media (max-width: 365px) {
  .nav > div {
    margin-right: 0.45rem;
    width: 3.5rem;
    font-size: 0.6rem;
  }
}